$primary_Color:#054C73;
$secondary_Color:#333333;
$footer_Color:#03344F;
$white_Color:white;
$product_Color:#dfdcdc;
$button:#047cbd;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$primary_Font:Montserrat;